# Git
**/.git

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual environments
**/venv/
**/.venv/

# Environment variables
**/.env

# IDE / OS
**/.DS_Store
**/.idea/
**/.vscode/

# Tests
**/.pytest_cache/
**/coverage.xml
**/.coverage
**/htmlcov/

# Manifests
**/*configmap*.yaml
**/*secret*.yaml
